# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.filters
*.user
*.pch


# Build output
*64x/
x64/

# Data / archives
*.dat
*.zip
*.bin
*.edf

# Qt
*.pro

# Project-specific
/Deep_QTVi_MATLAB_Code_19_09_2025
/data
/QTVI-refactor/convert_uniform_bin/convert_.B6F5429C
/daniel_script
/QTVI-refactor/noise_marking_gui/noise_ma.7588209C
/QTVI-refactor/noise_marking_gui/.vs
/QTVI-refactor/qtvi_template_marking/x64
